@import "./_varialble/color.scss";



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    width: 100%;
    background-color: $dark-mode;
    color: $white;
}
#root{
    height: 100%;
}
